<%= will_paginate @archives_item_fetches %>
<div class="list">     
  <% @archives_item_fetches.each do |fetch| %>
    <div class="item">
      <div class="operate">
        <%= fetch.created_at.strftime('%Y-%m-%d %H:%M') %>
      </div>
      
      <%= link_to "#{fetch.title}", 
        archives_route(yuedu123_archives_fetch_path(:uuid => fetch.uuid)), 
        :target => "_blank" %><br/>
    </div>
  <% end %>
</div>
<%= will_paginate @archives_item_fetches %>