<div class="main-related">
  <div>相关文章</div>
  <ul class="clearfix">
    <% item.related_items.each do |fetch| %>
      <li>
        <%= helper_ferret_result_linker(fetch, :highlight => false, :target => "_self") %>
      </li>
    <% end %>    
  </ul>
</div>