<div id="main">
  <div id="side-panel">

  </div>
  <div id="main-panel">
    <div class="main-content">      
      <%= will_paginate @archives_item_fetches %>
      <div class="list">     
        <% @archives_item_fetches.each do |fetch| %>
          <div class="item">   
            <%= link_to "#{fetch.title}", 
              archives_route(yuedu123_archives_fetch_path(:uuid => fetch.uuid)), 
              :target => "_blank" %><br/>
          </div>
        <% end %>
      </div>
      <%= will_paginate @archives_item_fetches %>
    </div>
  </div>
</div>