<div id="main">
  <div id="main-panel">
    <div class="main-info">
      <h1>所有文章列表</h1>
    </div>
    <div class="main-content">      
      <%= render :partial => "/yuedu123/archives/fetches/list" %>
    </div>
  </div>  
  
  <div id="side-panel">
    
  </div>
</div>