<div class="list">
  <% if book_items.any? %>
    <% book_items.each do |item| %>
      <div class="item">
        <div class="operate">
          <%= link_to "编辑", admin_route(edit_admin_book_item_path(item)) %>
        </div>        
        <%= link_to "#{item.name}", admin_route(admin_book_item_path(item)) %>
      </div>
    <% end %>
  <% else %>
    暂无图书
  <% end %>
</div>    