<%= render :partial => "/admin/book/partials/side_panel" %>

<div id="main-panel">
  <h1>【图书】： <%= @book_detail_fetch.title %></h1>

  <div class="main-options">
    <%= link_to "返回列表", admin_route(admin_book_detail_fetches_path) %>
  </div>
  
  <div class="main-content">
    
  </div>
</div>