<div id="footer">
    <div class="footer-line content-center">
      
    </div>
    <div class="copyright">
         copyright 2012  &copy; happy <a target="_blank" href="http://www.doc5.com">doc5</a>
    </div>
    <div class="friend-links">                
        友情链接: <a target="_blank" href="http://www.doc5.com">doc5首页</a>
         <a target="_blank" href="http://www.huabaner.net">花瓣儿网导航</a>
    </div>
</div>