<div class="list">
  <% if book_details.any? %>
    <% book_details.each do |detail| %>
      <div class="item">
        <div class="operate">
          <%= link_to "编辑", admin_route(edit_admin_book_detail_path(detail)) %>
        </div>        
        <%= link_to "#{detail.title}", admin_route(admin_book_detail_path(detail)) %>
      </div>
    <% end %>
  <% else %>
    暂无图书
  <% end %>
</div>    