<%= render :partial => "/admin/book/partials/side_panel" %>

<div id="main-panel">
  <h1>图书详情抓取</h1>

  <div class="main-options">
    
  </div>

  <div class="main-content">
    <%= will_paginate @book_details %>
    <%= render :partial => "/admin/book/details/list", :locals => {:book_details => @book_details} %> 
    <%= will_paginate @book_details %>
  </div>
</div>