<div id="side-panel">
  <h2>
    <%= link_to "全局管理", admin_route(admin_overall_root_path) %>
  </h2>
  
  <h4>分类管理</h4>
  <ul>
    <li>
      <%= link_to "分类列表", admin_route(admin_overall_categories_path) %>
    </li>
    <li>
      <%= link_to "新建分类", admin_route(new_admin_overall_category_path) %>
    </li>
  </ul>
</div>