/*
 *= require_self
*/

body{
    margin: 0;
    padding: 0;
}


body{
    color: #555555;
}

a {
    color: #555555;
    
    &:hover {
        color: red;
    }   
}

#header{
    background-color: #893450;
    padding: 5px;

    a{
        color: #ffffff;
        margin: 2px 5px;

        &:hover{
            color: red;
        }
    }
}

#navigation {
    margin: 5px 5px 0px;
    padding: 5px;
    form {
        display: inline;
    }

    a.logo-link{
        text-decoration: none;
    }
}

#container{
    margin: 0 auto;
    width: 980px;
}

#side-panel {
    width: 150px;
    float: right;
    border-right: 1px solid blue;

    h4{
        margin: 5px 0px;
    }
    ul {
        padding: 2px 2px 2px 10px;
        margin: 5px 0px;
    
        li {
            padding: 2px;
        }
    }
}

#main-panel{
    .main-info{
        .main-path{
            text-align: left;
            font-size: 13px;
        }

        .main-children{
            text-align: center;
            font-size: 12px;
        }

        text-align: center;
        .detail-info{
            font-size: 12px;
        }
    }

    padding: 10px 160px 10px 10px;

    h1, h2, h3, h4, h5, h6{
        font-size: 150%;
    }
    
    .main-options{
        border: 1px solid #ddd;
        padding: 5px;
    }

    .main-children{
        padding: 5px;
    }

    .main-content{
        padding: 5px;
    }

    .list {            
        .item{
            padding: 2px 2px;
            border-bottom: 1px dashed #ddd;

            .operate {
                float: right;
                font-size: 14px;
            }
        }
    }

    .box {
        .box-title {
            a{
                color: #893450;
            }   
        }

        
    }
}

.main-related{
    
    ul {
        font-size: 13px;
        li {
            width: 370px;
            float: left;
        }
    }
}

.home-main {
    #main-panel{
        padding: 10px;
        
        .box {
            padding: 5px;
            float: left;
            width: 465px;
            height: 330px;
        }
        .box-body{
            font-size: 12.5px;
            padding: 2px;
        }

        .list {
            
        }
    }
}

.cate-list{

    padding: 5px;
    .root-cate{
        .root-title{
            font-size: 18px;
            font-weight: bold;
        }

        .root-body{
            padding: 2px 2px 2px 10px;

            .sec-body{
                padding: 2px 2px 2px 10px;
                font-size: 12.5px;
                margin-bottom: 5px;
            }
        }
    }
}

#footer {
    padding-bottom: 20px;
    font-size: 12px;
    
    .footer-line {
        border-bottom: 2px dotted #CCDDFF;
        margin-top: 20px;
    }

    .copyright, .friend-links {
        padding: 5px 10px;
        text-align: center;
        color: #AAAAAA;
        a {            
            color: #AAAAAA;
        }
    }
}


.pagination{
    font-size: 12px;
    padding: 5px;
    
    .previous_page, .next_page {
        font-family: "宋体";
        overflow: hidden;
    }

    .current{

    }

    .disabled{
        
    }

    a {
        padding: 2px;
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #E7ECF0;
        display: inline-block;
        margin-right: 2px;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
    }
}

.res{
    padding: 3px 3px 10px;
    width: 540px;

    .res-ttl, .res-ttl a {
        font-size: 16px;
        color: blue;
    }

    .res-body{
        font-size: 13px;
    }
}

.highlight {
    color: red;
}

.key-words{
    background: url("images/bk/bt_gray_1.png") no-repeat scroll -304px 0 transparent;
    border-color: #9A9A9A #CDCDCD #CDCDCD #9A9A9A;
    border-style: solid;
    border-width: 1px;
    font: 16px arial;
    height: 22px;
    padding: 4px 7px;
    vertical-align: text-bottom;
    width: 404px;
}

.submit-btn{
    background: url("images/bk/bt_gray_1.png") no-repeat scroll 0 0 #DDDDDD;
    border: 0 none;
    cursor: pointer;
    height: 32px;
    padding: 0;
    width: 95px;
    vertical-align: text-bottom;
}

#container:after, #container2:after, #container3:after, #main:after, #main2:after, #main3:after {
    clear: both;
    content: " ";
    display: block;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}