<div id="main-panel">
  <h1>新建POST</h1>

  <div class="main-options">
    <%= link_to "返回列表", tip_posts_path %>
  </div>

  <div class="main-content">
    <%= form_for(@tip_post, :html => { :multipart => true }) do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
    <% end %>
  </div>
</div>